#title {
    font-family: 'Ovo';
    font-size: 20px;
    margin-left: 0px;
}

a {
    font-family: 'Ovo';
    font-size: 15px;
}

.menu {
    font-family: 'Ovo';
}

.ant-calendar-picker-input {
    margin-right: 65px;
    margin-top: 10px;
}
