.ant-empty-description {
    font-family: 'Fira Sans';
    font-size: 25px;
}

#usersTitle {
    font-family: 'Cormorant Garamond';
    font-size: 25px;
    margin-left: 0px;
}

#userChoice {
    font-family: 'Fira Sans';
    font-size: 15px;
    margin-left: 0px;
}

#userChoices {
    border: solid 1px #dedbd2;
    background-color: #dedbd2;
    border-radius: 5px;
    padding: 20px;
}

#userContent {
    border: solid 2px #606054;
    border-radius: 7px;
    padding: 20px;
}