li {
    font-family: 'Fira Sans';
    font-size: 20px; 
    margin-left: 0px;
}

#autoset {
    border: solid 2px #606054;
    border-radius: 7px;
    text-align: center;
    margin-left: 0px;
    padding: 20px;
}

.ant-upload.ant-upload-select-picture-card {
    margin: auto;
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

#accountInfo {
    margin-left: 0px;
    font-size: 25px;
}

@media only screen and (max-width: 414px) {
    #autoset {
        padding: 0px !important;
        margin-left: 0px;
    }
}