#components-layout-demo-side .logo {
  height: 32px;
  background: #DEDBD2;
  margin: 5px;
}

span {
  font-family: 'Ovo';
}

#welcome {
  margin: 0; 
}

.ant-layout {
  background-color: #DEDBD2;
  font-family: 'Charmonman';
  color: #606054;
  font-size: 100%;
}

#footer {
  text-align: center;
  background: rgba(76, 175, 80, 0.0)
}

.ant-layout-sider-children {
  background-color: #606054;
}

.ant-layout-sider-trigger {
  color: #DEDBD2;
  background-color: #a9535f;
}

.App.container {
  background-color: #DEDBD2;
  padding-left: 0%;
  margin-left: 0%;
  max-width: 1100px;
}

.ant-layout-sider-zero-width-trigger, .ant-layout-sider-zero-width-trigger-left, .ant-layout-sider-zero-width-trigger:hover {
  background-color: #606054;
}

#menu {
  font-family: 'Yrsa';
  font-size: 25px;
  color: #606054;
}

body {
  background-color: #DEDBD2 !important;
}

#photocontainer {
  padding-top: 24px;
}

p {
  font-family: 'Great Vibes', cursive;
  color: #606054;
  font-size: 35px;
  margin-bottom: 0px;
  margin-left: 11%;
}

#content {
  text-align: center;
  width: 100%; 
}

#background {
  background-image: url("../components/flowerbordersquare.png");
  background-size: cover;
  background-size: 100% 100%;
}

@media only screen and (max-width: 414px) {

  #footer {
    color: black;
  }

  #content {
    margin-top: 75px;
  }

  #welcome {
    background-color: whitesmoke;
    border-bottom: 3px solid #606054; 
    font-size: 35px;
  }

  .ant-layout-footer {
    font-size: 65%;
    padding: 20px;
  }
}

/* @media only screen and (max-width: 320px) {
  #sider {
    max-width: 150px !important; 
  }
} */
