.font {
    font-family: 'Fira Sans';
    font-size: 17px;
    margin-left: 0px;
}

.fontTitle {
    font-family: 'Fira Sans';
    font-size: 20px;
    margin-left: 0px;
}

#scheduleContent {
    padding: 20px;
}
