.font {
    font-family: 'Fira Sans';
    font-size: 15px;
    margin-left: 0px;
}

.fontTitle {
    font-family: 'Cormorant Garamond';
    font-size: 25px;
    margin-left: 0px;
}

#scheduleContent {
    padding: 20px;
}
