.font {
    font-family: 'Fira Sans';
    font-size: 15px;
    margin-left: 0px;
}

.fontTitle {
    font-family: 'Cormorant Garamond';
    font-size: 25px;
    margin-left: 0px;
}

#scheduleContent {
    border: solid 2px #606054;
    border-radius: 7px;
    padding: 20px;
}
