#greeting {
    font-family: 'Great Vibes', cursive;
    color: white;
    background-color: #DC8B55;
    font-size: 600%;
    margin-top: 45%;
}

#welcome {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 35px;
}

#container { 
    background-color: #DC8B55;
}
