.ant-carousel .slick-slide {
  text-align: center;
  height: auto; 
  line-height: auto; 
  overflow: hidden;
  border-radius: none; 
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.pictures .picture2 {
    height: 100px !important;
    width: 100px !important; 
}

.ant-card-body {
    padding: 0 !important; 
}

.ant-card-cover img {
    border-radius: 0; 
}