/* #carousel {
  padding: 24px;
  background: whitesmoke;
} */

.ant-carousel .slick-slide {
  text-align: center;
  height: auto; 
  line-height: auto; 
  overflow: hidden;
  border-radius: none; 
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

/* .pictures .picture2 {
    height: 100px !important;
    width: 100px !important; 
} */

.ant-card-body {
    padding: 0 !important; 
}

.ant-card-cover img {
    border-radius: 0; 
}

#photoContent {
    border: solid 2px #606054;
    border-radius: 7px;
    padding: 20px;
}


@media (min-width: 1025px) {
  /* .ant-layout-content {
    width: 548px;
    height: 548px;
  } */

   /* .ant-carousel {


  /* .ant-layout-content {
    width: 548px;
    height: 548px;
  }
  .ant-carousel {

    height: 500px;
    width: 500px;
  } */

  .ant-carousel .slick-slider {
    height: 500px;
    width: 500px;

    margin: auto;

  } 

   /* img {
    height: 500px;
    width: 500px;
  } */


}
