.ReactGridGallery_tile-viewport img {
    margin: 0 !important; 
}

.ReactGridGallery_tile-viewport {
    width: auto !important;
}

#header {
    font-family: 'Cormorant Garamond';
    font-size: 25px;
    color: #606054;
}

.images {
    overflow: auto;
    border: solid 2px #606054;
    border-radius: 7px;
    padding: 20px;
}