.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#header {
    font-family: 'Fira Sans', cursive;
    color: #606054;
}

h4 {
    font-family: 'Fira Sans';
    background-color: #A9535F;
    padding: 5%; 
    margin: 0;
}

@media (max-width: 576px) {
    .stylesmallscreen {
        margin-bottom: 24px; 
    }
}